@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    

    background-color: linear-gradient(315deg, #18323a, rgb(22, 32, 32));

    color:white;
    font-family: 'M PLUS 1p', sans-serif;
}

body{
    all: unset;
    background: linear-gradient(315deg, #18323a, rgb(22, 32, 32));
    color:white;
}

/* nav bar*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#87bbb8;
    position: fixed; /* Set the navbar to fixed position */
    top:0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0 0 .6rem rgb(0,0,0.2);
    
}

.nav-links{
    all: unset;
    display:flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left:0px;
    height:92vh;
    top:8vh;
    background-color:#87bbb8;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform:translateX(-100%); /*this is supposed to be 100*/
    /*transition: all 0.5s ease-in;*/ /*this transition has prob w resizinf window*/
    font-family: 'M PLUS 1p', sans-serif;
    z-index:1;
    
}

.nav-links li{
    list-style:none;
    opacity:0;
    
    
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    color:#444;
    font-size: 20px;
    
}

.nav-links a:hover{
    color:lightgrey;
    transition:  0.3s ease;
}

.burger{
    display:block;
    cursor: pointer;
    margin-left: .5em;
    border: 2px solid black;
    border-radius: 5px;
   
}
.burger div{
    width:25px;
    height: 2px;
    background-color: black;
    margin:5px;
    transition: all 0.3s ease;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
}


/* nav bar*/

.name{
    color:black;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;

    font-weight: 100;
    
}


.placeHolder{
    opacity:0;
   
    
}

/*social*/
.container{
    display: none;
}

.para{
    font-family: 'Catamaran', sans-serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left:50%;
    top:23em;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 10px;
    font-weight: 100;
  
    font-size: 25px;
    animation:fadeAndScale .8s ease-in;
    display: inline-block;
    z-index: -1;
}


.firstPic{
    width: 350px;
    height: 350px;
    position : relative;

    margin:0 auto;
    margin-top:5em;
    text-align: center;
    animation:fadeAndScale .8s ease-in;
    
    max-width: auto;
    z-index: 0;

}

.centerImage
{
 text-align:center;
 display:block;
}




   
/*socials*/

.bottomContainer{
    position:absolute;
    margin:0 auto;
    left:50%;
    transform:translate(-50%,-50%);
    color: black;
    bottom:-10px;
    cursor: pointer;
}

.bottomContainer> div{
    margin:0px 5px;
    /*background: grey;*/
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;

    transition: all 350ms ease-in-out;
    
}

div.fa-instagram:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
}
div.fa-envelope:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
    

}
div.fa-linkedin:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
  

}

div.fa-github:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
}

/*socials*/


.copyright{
        
    display:none;
}

.myName{
    display:none;
}


.parent{
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    margin: 2em;
    color:white;

    
}

.box{
    flex: 1 1 400px;
    margin:5px;
    color:white;
}

.hobbyText{
    color:white;
    text-align: center;
}
/*pancake*/
.title{
    font-size: 35px;
    margin:auto;
    text-align: center;
    margin-top: 2.5em;
}
.title2{
    font-size: 35px;
    margin:auto;
    text-align: center;
    margin-top: 0em;
}


.space{
    border: 1px solid green;
    margin-top:1em;
    opacity: 0;
}

/*intro*/
.parentIntro{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    margin-top: 0em;
  
}
.col1Intro{
    grid-column:1/3;
    margin: auto;
    max-width: 100px;
    min-width:80px;
}

.col2Intro{
    grid-column: 3/8;
    margin:auto;
    max-width: 40em;

}

/*intro*/
.line-break {
	border: .1px solid white;
    margin: auto;
    width:80%;
    

}

.swimLogo{
    margin: auto;
    width:60px;
    margin-top: -1em;
}

.myName{
    display:none;
}
.topLogo{
    display: none;
}

.quachout{
    display: none;
}

.hobs{
    margin:0 auto;
    max-width: 70em;
}


/*experience*/
/*
.parentGrid{
    display:grid;
    grid-template-columns: repeat(12, 1fr) ;
}

.pic{
    grid-column: 1/2;
}

.company{
    grid-column: 2/8;
}
.role{
    grid-column: 2/8;
}

.date{
    grid-column:10/12;
    justify-content: right;
    min-width: 100% ;
}

.location{
    grid-column: 10/12;
    align-content: right;
}

.description{
    grid-column: 2/12;
    
}
*/
/*experience*/



/*about*/

h2 {
	text-align: center; 
	letter-spacing: 5px;
	padding-top: 15px; 
	padding-bottom: 10px;
	margin: 0; 
}

.background-container {
	background-color: rgba(0,38,87,0.75);
	display: block; 
	height: 100%;
}

.navbar {
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
	min-height: 62px; 
	z-index: 10; 
	background-color: black; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
}

.navbar a {
	text-align: center;
	background-color: black; 
	font-weight: bolder; 
}

.navbar a:hover {
	background-color: silver;
	color: black; 
}

.navbar .pagelinks {
	display: none;
	text-align: center;
	position: absolute; 
	width: 400px;
	left: 0; 
	right: 0; 
	margin: 0 auto;
	padding-left: 20px; 
	padding-top: 15px; 
}

.navbar .pagelinks a {
	color: antiquewhite; 
	text-decoration: none; 
}

.navbar .pagelinks a:hover {
	background-color: black; 
	color: lightsalmon;
}

#h-full {
	opacity: 0.6;
}

#h-shortened {
	opacity: 0.6;
	display: none;
}

.navbar .button { 
	float: left;
	display: block;	
	color: rgba(241,241,241,1);
	padding: 16px 16px 26px 16px;		
	text-decoration: none;
} 

.navbar .button-image {
	float: right; 
	display: block;   
	padding: 10px 10px;
}

.links {
	text-align: center; 
	width: 100%; 	
}

.links a{
	color: antiquewhite;
	text-decoration: none; 
}

.links a:hover{
	color: lightsalmon;
}

main { 
	margin-top: 20px;
	min-height: 79vh;
} 

.content_container {
	font-family: "Fira Sans", serif; 
	width: 100%; 
	box-sizing: border-box;
	display: inline-block; 
	text-align: center;
	min-height: 600px; 
	margin: 0 ;
	padding: 0px; 
	padding-top: 3em;
	padding-bottom: 50px;
	color: black;
    line-height: 28pt;
    margin-top:-20em;
}

.content_container h2 {
	font-size: 2.5em;
	padding: 60px; 
	padding-bottom: 10px; 
	padding-top: 80px; 
}

.content_container h3 {
	font-size: 1.75em;
	font-weight: normal;
	margin-top: 10px; 
	margin-bottom: 10px; 
}

#projects img {
	width: 35%;
	height:35%;
	border: 6px solid black;
	margin-bottom: 30px;
}

.line-break {
	border-top: 1px solid white;
	width: 80%;
	margin-bottom: 40px; 
}

.row {
	width: 100%;
	margin-bottom: 30px;
}

.row:after {
	content: "";
	display: table; 
	clear: both;
}

.row .col-third {
	text-align: center; 
	width: 32%;
	float: left;
}

.row .col-two-thirds {
	text-align: justify;
	line-height: 18pt; 
	width: 62%;
	float: left; 
	margin-bottom: 60px; 
	padding-top: 15px; 
	padding-left: 20px; 
}

.col1 {
	float: left;
	width: 30%;
    padding-top: 0em; 
    margin-top:-3em;
}

.col2 {
	text-align: left; 
	width: 50%; 
	float: left; 
	padding-left: 0px;
    padding-right: 0px;
    padding-top:0em;
}

.row .column {
	width: 50%;
	float: left; 
}

.row .column .info-list {
	text-align: left; 
	padding-left: 35%;
	list-style-type: circle;
}

.form-container {
	width: 100%; 
	text-align: center; 
	padding-top: 10px; 
	overflow: auto;
}

footer {
	margin: 10px;
	margin-bottom: 0;
	text-align: center; 
	padding: 5px; 
	border-radius: 5px;
	background-color: rgba(70,130,180,0.8);
}


/*about*/


/*experience*/
.table {
    
	width:100%;
	max-width:800px;
	border:0px;
	border-spacing:0px;
	border-collapse:separate;
	margin: 0 auto;
}

.subheader {
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 0 auto;
    color:white;
    font-weight: 100;
    font-size: 30px;
}

.descriptionTD{
    font-family: 'Catamaran', sans-serif;
	padding: 0 2.5% 2.5% 2.5%;  /* top right bottom left*/
    
    color:white;
}
.descriptionTD1{
    font-family: 'Catamaran', sans-serif;
    float:right;  
    font-size: 15px;
    font-weight: 100;
}
.descriptionTD2{
    font-family: 'Fira Sans', serif; 
    
	float:right;  /* top right bottom left*/
    /*width: 60%;*/
    color:white;
}
.logoTD{
	/*padding: 2.5% 2.5% 2.5% 0;*/
	text-align: center;
    width: 12%;

    margin:0;
    

}

.logoTD img{
	width: 100%;
}

#appleTD img{   /* fix to make logo smaller */
	width: 65%;
}

#rayTech img{     

    margin-left:-2.5em;
}

#RaytheonLogo img{
    width:150px;
    margin-left:-3.3em;
}

#washer img{
	width:100%;
	margin-left: -2.5em;
}

#clock img{
	width:130%;
	margin-left:-1.2em;
}

#robot img{
	width:100%;

}

/* experience*/




















/*========================================================================*/
/*========================================================================*/
/*========================================================================*/
/*========================================================================*/
@media screen and (min-width:650px){
    .bottomContainer{
        display: none;
    }
    .placeHolder{
        display: none;
    }
    .name{
        display: none;
    }
    .burger{
        display: none;  
    }
    body{
        
        /*background: linear-gradient(315deg, #18323a, rgb(22, 32, 32));*/
        /*background: orange;*/

    }
    .burger{
        display: none;  
    }

    .topLogo{
        all: unset;
        display:flex;
        justify-content: center;
    }
    .sun{
        
        margin-left:0;
        justify-content: center;
     
    }
    .quachout{
        all: unset;
        margin-top: em;
        color: black;
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 100;
        font-size: 30px;
    }
    .box{
        margin-left: 3em;
        margin-right:3em;
    }
    .col1Intro{
        grid-column:2/3;
        margin: auto;
        max-width: 100px;
        min-width:80px;
    }
    
    .col2Intro{
        grid-column: 3/7;
        margin:auto;
    }


    .nav-links{
        all: unset;
        display:flex;
        position: relative;
        margin:0;
        max-width: 100%;
        font-family: 'M PLUS 1p', sans-serif;
        text-align: center;
        font-size: 15px;
        font-weight: 100;
        
    }
    .nav-links li{
        all: unset;
        list-style:none;
        
 
        
    }
    .nav-links a{
        all:unset;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 0 20px 0 20px;
        color:#444;
        font-size: 20px;
    }


    /*social media*/
    .container{
        all:unset;
        float:left;
        margin:0 ;
        margin-left:-2em;
        margin-top: 0em;
        color:black;
        bottom:0px;
        display:none;
        
        
    }

    .container> div{
        margin:0px 10px;
        /*background: grey;*/
        width: 25px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;

        transition: all 350ms ease-in-out;
        
    }


    div.fa-envelope:hover{
        color:lightslategrey;
        
        
        transform: scale(1.2);

    }
    div.fa-linkedin:hover{
        color:lightslategrey;
        
    
        transform: scale(1.2);
    }
    div.fa-github:hover{
        color:lightslategrey;
        
    
        transform: scale(1.4);
    }
    /*social media*/

    /*nav col*/
    .parentNav{
        
    }

}
@media screen and (min-width:750px){
    .bottomContainer{
        display: none;
    }
    .placeHolder{
        display: none;
    }
    .name{
        display: none;
    }
    .burger{
        display: none;  
    }
    body{
        
  
    }

    .firstPic{
        all:unset;
        width: 280px;
        height: 280px;
        position: absolute;
        float: left;
 
        border-radius: 50%;
        animation:fadeAndScale .8s ease-in;
        
 
        border: 3px solid white;

        /*center*/
        margin-top: 20em;
        
        transform: translate(-50%, -50%);
        /*center*/
        right:45%;
        
       
    }
    .para{
        all: unset;
        color: white;
        margin: 0 auto;
        position: absolute;
        
        font-size: 20px;
        font-weight: 200;
        width: 22em;

        /*center*/
        margin-top: 17em;
        left: 65%;
        transform: translate(-50%, -50%);
        /*center*/
        margin-left: 0em;
        animation:fadeAndScale .8s ease-in;
        
    }

    .myName{
        all: unset;
        font-size: 45px;
        font-family: 'Catamaran', sans-serif;
        font-weight: 100;
        margin: 0 auto;
        position: absolute;
        margin-top: 6em;
        width: 11em;
        left: 65%;
        transform: translate(-50%, -50%);

    }
    
    .copyright{
        
        all: unset;
        color:white;
        position: fixed;
        margin: 0 auto;
        font-size: 12px;
        right:-8em;
        bottom:5px;
        
        
        transform: translate(-50%, -50%);
        
    }
    /*pancake*/
    .parent{
        display:flex;
        flex-wrap:wrap;
        text-align: center;
        margin: 1em;
    
    }

    .box{
        flex: 1 1 100px;
        margin:5px;
    }

    .hobbyText{
        color:white;
        text-align: left;
    }
    /*pancake*/
}







@media screen and (min-width:900px){
    





    

}

@media screen and (min-width:1000px){


    

}
@media screen and (min-width:1250px){

    
 

}

