@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
    color:white;
    
}


body{
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(315deg, #18323a, rgb(22, 32, 32)) ;
    height:100vh;
}


/* nav bar*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#87bbb8;
    box-shadow: 0 0 .6rem rgb(0,0,0.2);
    
}

.nav-links{
    all: unset;
    display:flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left:0px;
    height:92vh;
    top:8vh;
    background-color:#87bbb8;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform:translateX(-100%); /*this is supposed to be 100*/
    /*transition: all 0.5s ease-in;*/ /*this transition has prob w resizinf window*/
    font-family: 'M PLUS 1p', sans-serif;
    z-index:1;
    
    
}

.nav-links li{
    list-style:none;
    opacity:0;

    
    
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    background-color: #87bbb8;
    font-size: 20px;
    color:#444;

}

.nav-links a:hover{
    color:lightgrey;
    transition:  0.3s ease;
}

.burger{
    display:block;
    cursor: pointer;
    margin-left: .5em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #87bbb8;
   
}
.burger div{
    width:25px;
    height: 2px;
    background-color: black;
    margin:5px;
    transition: all 0.3s ease;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
}


/* nav bar*/

.name{
    
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;

    font-weight: 100;
    background-color: #87bbb8;
    color:black;
}


.placeHolder{
    opacity:0;
   
    
}

/*social*/
.container{
    display: none;
}

.para{
    font-family: 'Catamaran', sans-serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left:50%;
    top:23em;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 10px;
    font-weight: 100;
  
    font-size: 25px;
    animation:fadeAndScale .8s ease-in;
    display: inline-block;
    z-index: -1;
}


.firstPic{
    width: 350px;
    height: 350px;
    position : relative;

    margin:0 auto;
    margin-top:5em;
    text-align: center;
    animation:fadeAndScale .8s ease-in;
    
    max-width: auto;
    z-index: 0;

}

.centerImage
{
 text-align:center;
 display:block;
}




   
/*socials*/

.bottomContainer{
    position:absolute;
    margin:0 auto;
    left:50%;
    transform:translate(-50%,-50%);
    color: black;
    bottom:-10px;
    cursor: pointer;
}

.bottomContainer> div{
    margin:0px 5px;
    /*background: grey;*/
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;

    transition: all 350ms ease-in-out;
    
}

div.fa-instagram:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
}
div.fa-envelope:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
    

}
div.fa-linkedin:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
  

}

div.fa-github:hover{
    color:rgb(130, 148, 187);
    transform: scale(1.5);
    
}

/*socials*/


.copyright{
        
    display:none;
}

.myName{
    display:none;
}
.topLogo{
    display: none;
}

.quachout{
    display: none;
}
/*========================================================================*/

/*========================================================================*/
/*========================================================================*/

/*========================================================================*/


@media screen and (min-width:750px){

    .placeHolder{
        display: none;
    }
    .name{
        display: none;
    }
    .burger{
        display: none;  
    }

    .topLogo{
        all: unset;
        display:flex;
        justify-content: center;
    }
    .sun{
        
        margin-left:0;
        justify-content: center;
     
    }
    .quachout{
        all: unset;
        margin-top: em;
        color: black;
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 100;
        font-size: 30px;
    }

    .nav-links{
        all: unset;
        display:flex;
        position: relative;
        margin:0;
        max-width: 100%;
        font-family: 'M PLUS 1p', sans-serif;
        text-align: center;
        font-size: 15px;

        
    }
    .nav-links li{
        all: unset;
        list-style:none;
        
 
        
    }
    .nav-links a{
        all:unset;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 0 20px 0 20px;
        color:#444;
        font-size: 20px;
        font-weight: 100;
    }


    /*social media*/
    .container{
        all:unset;
        float:left;
        margin:0 ;
        margin-left:-2em;
        margin-top: 0em;
        color:black;
        bottom:0px;
        display:none;
        
        
    }

    .container> div{
        margin:0px 10px;
        /*background: grey;*/
        width: 25px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;

        transition: all 350ms ease-in-out;
        
    }


    div.fa-envelope:hover{
        color:lightslategrey;
        
        
        transform: scale(1.5);

    }
    div.fa-linkedin:hover{
        color:lightslategrey;
        
    
        transform: scale(1.5);
    }
    div.fa-github:hover{
        color:lightslategrey;
       
    
        transform: scale(1.5);
    }
    /*social media*/

    .firstPic{
        all:unset;
        width: 280px;
        height: 280px;
        position: absolute;
        float: left;
 
        border-radius: 50%;
        animation:fadeAndScale .8s ease-in;
        
 
        border: 3px solid white;

        /*center*/
        margin-top: 20em;
        
        transform: translate(-50%, -50%);
        /*center*/
        right:45%;
        
       
    }
    .para{
        all: unset;
        color: white;
        margin: 0 auto;
        position: absolute;
        
        font-size: 20px;
        font-weight: 200;
        width: 22em;

        /*center*/
        margin-top: 17em;
        left: 65%;
        transform: translate(-50%, -50%);
        /*center*/
        margin-left: 0em;
        animation:fadeAndScale .8s ease-in;
        
    }

    .myName{
        all: unset;
        font-size: 45px;
        font-family: 'Catamaran', sans-serif;
        font-weight: 100;
        margin: 0 auto;
        position: absolute;
        margin-top: 6em;
        width: 11em;
        left: 65%;
        transform: translate(-50%, -50%);

    }
    
    .copyright{
        
        all: unset;
        color:white;
        position: fixed;
        margin: 0 auto;
        font-size: 12px;
        right:-10em;
        bottom:5px;
        
        font-family: 'M PLUS 1p', sans-serif;
        transform: translate(-50%, -50%);
        
    }
 

}

@media screen and (min-width:900px){
    




    

}

@media screen and (min-width:1000px){


    

}
@media screen and (min-width:1250px){

    
 

}

